[submodule "master-data-pipeline"]
	path = master-data-pipeline
	url = git@github.com:chinpanGX/master-data-pipeline.git
	branch = main
[submodule "api-codegen"]
	path = api-codegen
	url = git@github.com:chinpanGX/api-codegen.git
	branch = master
[submodule "Supplement"]
	path = Supplement
	url = git@github.com:chinpanGX/Supplement.git
	branch = main
